
@import "defs.scss";

.buttonView {
    height:100%;
    
    .firstButton {
        .firstButtonLabel {
            float:left;
        }
        .firstButton {
        }
    }

    .secondGroup {
        height:400px;
        @include flex-parent(row);

        .secondGroupFirstMenu {
            @include flex-child(0,1);
            position:relative;
            width:370px;
            padding:0px;
        }
        .secondGroupSecondMenu {
            @include flex-child(1,2);
            position:relative;
            padding:0px;
            @include flex-parent(column);
            .rightDemoButton {
                @include flex-child(0,1);
                height:100px;
            }
            .rightDemoButton2 {
                @include flex-child(0,2);
                height:115px;
            }
            .rightDemoInfo {
                @include flex-child(1,3);
                p {
                    /* text fades in and fades out
                    // in the currentMessage area */
                    @include do-transition(opacity 1s);
                }
            }
        }
    }
}

/*
  Local Variables:
  mode: css
  indent-tabs-mode: nil
  tab-width: 8
  End:
*/
