
@import "defs.scss";

.buttonView {
    height:100%;
    @include flex-parent(column);

    .secondGroup {
        @include flex-child(0,1);
        height:370px;
        @include flex-parent(row);

        .secondGroupFirstMenu {
            @include flex-child(0,1);
            position:relative;
            width:370px;
            padding:0px;
        }
        .secondGroupSecondMenu {
            @include flex-child(1,2);
            position:relative;
            padding:0px;
            @include flex-parent(column);

            .myrocker {
                @include flex-child(0,1);
                height:55px;
            }
            .rightDemoButton {
                @include flex-child(0,2);
                height:100px;
            }
            .rightDemoButton2 {
                @include flex-child(0,3);
                height:30px;
            }
            .rightDemoButton3 {
                @include flex-child(0,4);
                height:115px;
            }
            .rightDemoInfo {
                @include flex-child(1,5);
                p {
                    /* text fades in and fades out
                    // in the currentMessage area */
                    @include do-transition(opacity 1s);
                }
            }
        }
    }

    .thirdGroup {
        @include flex-child(1,2);
        @include flex-parent(column);
        .modalWindow {
            position:absolute;
            top:-360px;
            left:30px;
            width:440px;
            height:380px;
            border-radius:30px;
            box-shadow:inset 0 0 20px 15px rgba(255,255,255,0.2);
            background-color: $navBgColor;
            text-align: center;
            padding-top:30px;
            z-index:-100;
            opacity:0;
            @include do-transition(opacity 0.4s);

            &.open {
                z-index:1000;
                opacity:1;
            }
            .modalContents {
                position:absolute;
                left:25px;
                top:25px;
                width:400px;
                height:300px;
                text-align:left;
                overflow-y:scroll;
            }
            .acceptButton {
                position:absolute;
                left:60px;
                top:340px;
                .typcn {
                    color:green;
                }
            }
            .cancelButton {
                position:absolute;
                left:120px;
                top:340px;
                .typcn {
                    color:red;
                }
            }
        }
        .header {
            @include flex-child(0,1);
            height:40px;
            .up {
                left:0px;
            }
            .front {
                left:125px;
            }
            .down {
                left:365px;
            }
            .del {
                left:510px;
            }
        }
        .body {
            @include flex-child(1,2);
        }
    }
}

/*
  Local Variables:
  mode: css
  indent-tabs-mode: nil
  tab-width: 8
  End:
*/
