
$bgColor: #203040;
$navBgColor: #181818;
$navBgHoverColor: #303030;
$navHeight: 50px;
$footerBorder: #e5e5e5;

$buttonColor: #1C1D1F;
$buttonLightOn:   #93C913;
$buttonLightOff:  #FF4847;

@mixin user-select-none() {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@mixin do-filter($stuff) {
  -webkit-filter:$stuff;
  -moz-filter:$stuff;
  filter:$stuff;
}

/*
  Local Variables:
  mode: css
  indent-tabs-mode: nil
  tab-width: 8
  End:
*/
