
$bgColor: #203040;
$navBgColor: #181818;
$navBgHoverColor: #303030;
$navHeight: 50px;
$footerBorder: #e5e5e5;

@mixin user-select-none() {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@mixin do-filter($stuff) {
  -webkit-filter:$stuff;
  -moz-filter:$stuff;
  filter:$stuff;
}

@mixin do-transition($stuff...) {
    transition: $stuff;
    -webkit-transition: $stuff;
    -moz-transition: $stuff;
}

@mixin flex-parent($dir) { /* dir is row or column */
    display:flex;
    flex-direction:$dir;
    align-items:stretch;
}

@mixin flex-child($grow,$order) {
    flex-grow:$grow;
    flex-shrink:$grow;
    order:$order;
}

/*
  Local Variables:
  mode: css
  indent-tabs-mode: nil
  tab-width: 8
  End:
*/
