<div class="fullsizePage" ng-controller="NavbarCtrl">

  <!-- Add your site or application content here -->
  <div class="mediumNav">
    <ul>
      <li nohover> PFK </li>
      <li> <a href="http://www.pfk.org"> www.pfk.org </a> </li>
      <li ng-repeat="view in views" ng-class="{active:view===currentView}">
        <span ng-click="updateView($index)">
          {{view.view}}
        </span>
      </li>
    </ul>
  </div> <!-- nav -->

  <div class="container" ng-include="currentView.path"></div>

  <div class="footer">
    <div class="typcn typcn-arrow-right-thick"></div>
    <div class="pfk">PFK</div>
    <div class="typcn typcn-arrow-left-thick"></div>
    <div class="tagline">
      the future was scheduled for yesterday, but the schedule slipped
    </div>
  </div> <!-- footer -->

  <!--
      Local Variables:
      mode: html
      indent-tabs-mode: nil
      tab-width: 8
      End:
    -->
</div>
