<div ng-if="buttonsView.show" class="buttonView" ng-controller="ButtonsCtrl">
  <div class="firstButton">
    click this button:
    <pfk-rocker-switch id="switch0" callback="switchCallback">
    </pfk-rocker-switch>
  </div>
  <div class="secondGroup"> <!-- two menu thingies side by side -->
    <div class="secondGroupFirstMenu"> <!-- first menu thingy -->
      <p>selection = {{radioButton.selection}}</p>
      <pfk-slider-menu
         choices="radioButton.choices"
         name="leftDemoMenu"
         on-change="radioButton.onChangeLeft"
         value="radioButton">
      </pfk-slider-menu>
    </div> <!-- done first menu thingy -->
    <div class="secondGroupSecondMenu"> <!-- second menu thingy -->
      <div class="rightDemoButton">
        <p>this is a third button</p>
        <pfk-hover-menu
           id="rightDemoMenu"
           callback="hoverCallback">
        </pfk-hover-menu>
      </div> <!-- rightDemoButton -->
      <div class="rightDemoButton2">
        <pfk-tristate-button size=28 id="dispTicks" label-width="150"
                             callback="dispTicksCallback">
          display ticks
        </pfk-tristate-button>
        <pfk-tristate-button size=28 id="do25" label-width="150"
                             callback="do25Callback">
          do 25
        </pfk-tristate-button>
      </div> <!-- rightDemoButton2 -->
      <div class="rightDemoButton3">
        <pfk-range-selector id="range0" callback="handleRangeEvent">
        </pfk-range-selector>
        <br>
        <pfk-range-selector id="range1" callback="handleRangeEvent">
        </pfk-range-selector>
      </div> <!-- rightDemoButton2 -->
      <div class="rightDemoInfo">
        <p ng-style="{opacity:showCurrentMessage}">
          {{currentMessage}}
        </p>
      </div> <!-- rightDemoInfo -->
    </div> <!-- done second menu thingy -->
  </div> <!-- done second group -->
  <!--
      Local Variables:
      mode: html
      indent-tabs-mode: nil
      tab-width: 8
      End:
    -->
</div>
