<div ng-if="homeView.show" class="jumbotron">
  <p>
    The purpose of this site is to demonstrate various techniques
    learned over the course of time dedicated to learning HTML5,
    CSS3, and ECMAScript5.
  </p>
  <p>
    This app is periodically updated as the author learns new
    tricks and techniques.
  </p>

  <h4>Yeoman HTML5 Boilerplate, Angular, Karma</h4>

  <p>
    Always a pleasure scaffolding your apps.
  </p>

  <ul>
    <li> Yeoman HTML5 Boilerplate is a professional front-end
      template for building fast, robust, and adaptable
      web apps or sites.
    </li>
    <li> AngularJS is a toolset for building the framework most
      suited to your application development.
    </li>
    <li> Karma is a Spectacular Test Runner for JavaScript.
    </li>
  </ul>
  <!--
      Local Variables:
      mode: html
      indent-tabs-mode: nil
      tab-width: 8
      End:
    -->
</div>
