<div ng-if="homeView.show" class="jumbotron">
  <p>
    Always a pleasure scaffolding your apps.
  </p>
</div>

<div class="row marketing">
  <h4>Yeoman HTML5 Boilerplate, Angular, Karma</h4>

  <ul>
    <li> Yeoman HTML5 Boilerplate is a professional front-end
      template for building fast, robust, and adaptable
      web apps or sites.
    </li>
    <li> AngularJS is a toolset for building the framework most
      suited to your application development.
    </li>
    <li> Karma is a Spectacular Test Runner for JavaScript.
    </li>
  </ul>
  <!--
      Local Variables:
      mode: html
      indent-tabs-mode: nil
      tab-width: 8
      End:
    -->
</div>
